<h1 class="page-header">配信一覧</h1>

<div class="pull-right">
  <%= link_to '新規配信', new_distribution_path, class: 'btn btn-primary' %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>名前</th>
      <th>登録日時</th>
      <th>配信先</th>
      <th>配信済</th>
      <th>配信率</th>
      <th>開封済</th>
      <th>開封率</th>
      <th>回答済</th>
      <th>回答率</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @distributions.each do |distribution| %>
      <tr>
        <td><%= link_to distribution.name, distribution %></td>
        <td><%= l distribution.created_at %></td>
        <td><%= distribution.respondents.count %></td>
        <td><%= distribution.sent_respondents_count %></td>
        <td><%= number_to_percentage distribution.sent_respondents_rate, precision: 0 %></td>
        <td><%= distribution.accessed_respondents_count %></td>
        <td><%= number_to_percentage distribution.accessed_respondents_rate, precision: 0 %></td>
        <td><%= distribution.answered_respondents_count %></td>
        <td><%= number_to_percentage distribution.answered_respondents_rate, precision: 0 %></td>
        <td>
          <%= link_to '詳細', distribution, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

