<h1 class="page-header">
  <%= @distribution.name %>
  <%= link_to '編集', edit_distribution_path(@distribution), class: 'btn btn-default' %>
</h1>

<div class="pull-right">
  <%= link_to '配信先追加', new_distribution_respondent_path(@distribution), class: 'btn btn-default' %>
  <%= link_to 'メール配信', send_email_distribution_path, class: 'btn btn-danger', data: { confirm: '本当にメールを配信しますか？' } %>
  <%= link_to '回答出力', distribution_path(@distribution, format: 'csv') , class: 'btn btn-success' %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>メールアドレス</th>
      <th>登録日時</th>
      <th>初回配信日時</th>
      <th>最終配信日時</th>
      <th>配信回数</th>
      <th>訪問日時</th>
      <th>回答日時</th>
      <th>ステータス</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @distribution.respondents.each_with_index do |respondent, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= respondent.email %></td>
        <td><%= l respondent.created_at %></td>
        <td><%= l(respondent.first_sent_at) if respondent.first_sent_at %></td>
        <td><%= l(respondent.last_sent_at) if respondent.last_sent_at %></td>
        <td><%= respondent.sent_count %></td>
        <td><%= l(respondent.accessed_at) if respondent.accessed_at %></td>
        <td><%= l(respondent.answered_at) if respondent.answered_at %></td>
        <td>
          <span class="status-label status-label-<%= respondent.status.to_s %>">
            <%= respondent.status_label %>
          </span>
        </td>
        <td>
          <%= link_to '編集', edit_distribution_respondent_path(@distribution, respondent), class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pull-right">
  <%= link_to '一覧に戻る', distributions_path, class: 'btn btn-default' %>
</div>
