<h1 class="page-header">配信先追加</h1>
<%= form_for [@distribution, @respondent], html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= label_tag :emails, 'メールアドレス', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= text_area_tag :emails, params[:emails], rows: 10, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <div class="pull-right">
        <%= link_to '一覧に戻る', distribution_path(@distribution), class: 'btn btn-default' %>
        <%= f.submit '保存', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
