<!DOCTYPE html>
<html>
  <head>
    <title>スマートアンケート</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <%= link_to 'スマートアンケート', root_path, class: 'navbar-brand' %>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
      <% if flash[:notice] %><script>$.toaster('<%= flash[:notice] %>', '通知', 'success');</script><% end %>
      <% if flash[:alert] %><script>$.toaster('<%= flash[:alert] %>','失敗', 'danger');</script><% end %>
      <%= yield %>
    </div>
  </body>
</html>
